*.csv
*.npy
*.png
data/WZ/MC_gen/MG
data/WZ/MC_gen/samples
data/WZ/amp_calc/WZ_MG
data/WZ/amp_calc/MG
python_packages
*/__pycache__/*
*/.ipynb_checkpoints/*
*/.vscode/*
*/.idea/*
__pycache__
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.DS_Store
*/.env
*/.env.*
*/.envs
*/.venv
*/.venv.*
*/.tox
*/.tox.*
*/.eggs
*/.eggs.*
runs
logs
mlruns
./configs
*.hdf5
*.xz
draft